<form class="container mt-4" name="" method="POST" action="/courses/handle-form-action">
    <div class="mb-4">
      <h2>Khóa học của tôi</h2>
      <a href="/me/trash/courses?page=1" class="trash d-block mt-4">
            Thùng rác ({{countDeleted}})
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="40px" height="40px" viewBox="0 0 24 24" stroke-width="1" stroke="black" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
            </svg>
      </a>
      <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
          <label class="form-check-label" for="checkbox-all">
            Chọn tất cả
          </label>
        </div>
        <select class="form-select select-option-actions mx-4" aria-label="Default select example" name="action" required>
            <option value="">-- Chọn hành động --</option>
            <option value="delete">Xóa</option>
          </select>

          <button class="btn btn-primary disabled btn-submit-check-all">Thực hiện</button>
      </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" colspan="2">Tên khóa học</th>
                <th scope="col">Mô tả khóa học</th>
                <th scope="col" colspan="2">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each currentCourses}}
                <tr>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input " type="checkbox" name="courseIds[]" value="{{this._id}}">
                    </div>
                  </td>
                  <td>{{this.name}} {{page}}</td>
                  <td>{{this.title}}</td>
                  <td>{{this.createdAt}}</td>
                  <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-id="{{this._id}}">Xóa</a>
                  </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    {{#unless currentCourses}}
            <p style="text-align: center;">Bạn chưa đăng ký khóa học nào!
              <a class="" href="/courses/create">Thêm khóa học</a>
            </p>
    {{/unless}}
</form>

{{!-- MODAL --}}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa khóa học</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn xóa khóa học này không ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger delete-btn">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Form Delete --}}
<form method="POST" id="form-delete"></form>

{{!-- Pagination --}}
<nav aria-label="Page navigation example">
    <div class="d-flex justify-content-center">
        <ul class="pagination">
           {{#if currentCourses}}
              <li class="page-item">
                <a class="page-link previous" href="" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {{#getPage countPage}}
                      <li class="page-item"><a class="page-link number" href="">{{sum this 1}}</a></li>
              {{/getPage}}
              <a class="page-link next" href="" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
              </a>
            {{/if}}
          </li>
      </ul>
    </div>
</nav>
<script>

    //Handle DeleteCourse
    const exampleModal = document.getElementById('exampleModal')
    const deleteBtn = document.querySelector(".delete-btn")
    const formDelete = document.getElementById("form-delete")
    var courseId

    if (exampleModal) { 
        exampleModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        courseId = button.getAttribute('data-bs-id')
    })

    deleteBtn.addEventListener('click', function() {
        formDelete.setAttribute("action", `/courses/${courseId}?_method=DELETE`)
        formDelete.submit()
    })

    //HANDLLE PAGINATION
    const pageLinkNumber = document.querySelectorAll(".page-link.number")
    const previousBtn = document.querySelector(".previous")
    const nextBtn = document.querySelector(".next")
    var currentPage
    //PREIVOUSE BTN
    previousBtn.addEventListener('click' , function() {
      if({{page}} == 1)
        return
      currentPage = {{page}}  - 1
      previousBtn.setAttribute("href", `/me/stored/courses?page=${currentPage}`)
    })
    //NETX BTN
    nextBtn.addEventListener('click' , function() {
      if({{page}} == {{countPage}})
        return
      currentPage = {{page}}  + 1
      nextBtn.setAttribute("href", `/me/stored/courses?page=${currentPage}`)
    })

    pageLinkNumber.forEach(item => {
      item.addEventListener('click', function(){
        item.setAttribute("href", `/me/stored/courses?page=${item.innerText}`)
      })
    })

     pageLinkNumber.forEach(item => {
      if(item.innerText == {{page}})
          item.closest(".page-item").classList.add("active")
     })


     //HANDLE CHECKBOX COUNT COURSE
     const checkboxAll = document.getElementById("checkbox-all")
     const checkAllBtn = document.querySelector(".btn-submit-check-all")
     const courseItemCheckbox = document.querySelectorAll("input[name='courseIds[]']")
     //Check/uncheck all checkbox
     checkboxAll.onchange = function(e) {
      var isCheckedAll = e.target.checked
      courseItemCheckbox.forEach(item => 
        item.checked = isCheckedAll 
      )
      renderCheckAllSubmitBtn()
     }

     //Course Item checkbox change
     courseItemCheckbox.forEach(item => {
      item.addEventListener("change", function(e) {
        var isCheckedAll = courseItemCheckbox.length === document.querySelectorAll("input[name='courseIds[]']:checked").length

        checkboxAll.checked = isCheckedAll
        renderCheckAllSubmitBtn()
      })
     })

     //Re-render check all submit button
     function renderCheckAllSubmitBtn(){
        const checkedCount = document.querySelectorAll("input[name='courseIds[]']:checked").length
        if(checkedCount > 0)
          checkAllBtn.classList.remove("disabled")
        else
          checkAllBtn.classList.add("disabled")
     }
}
</script>